<%- include('includes/head') %> <%- include('includes/nav') %>
<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 my-3">
      <h1 class="text-center">Agenda</h1>

      <%- include('includes/messages') %>

      <div class="responsive-table">
        <% if(contatos.length > 0) { %>
        <p class="text-center lead">Seus contatos estão abaixo</p>
        <table class="table my-3">
          <% contatos.forEach(contato => { %>
          <tr>
            <td><%= contato.nome %></td>
            <td><%= contato.sobrenome %></td>
            <td><%= contato.telefone %></td>
            <td><%= contato.email %></td>
            <td><a href="/contato/<%= contato._id %>">Editar</a></td>
            <td>
              <a class="text-danger" href="/contato/delete/<%= contato._id %>"
                >Excluir</a
              >
            </td>
          </tr>
          <% }); %>
        </table>
        <% } else {%>
        <p class="text-center lead">Nenhum contato cadastrado!</p>
        <% } %>
      </div>
    </div>
  </div>
</div>
<%- include('includes/footer') %>
